*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #a9c7e0;
}

/* Header */

nav{
    width: 100%;
    height: 100px;
    background-color: rgba(71, 71, 186, 0.804);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo{
    width: 100px;
    height: 100px;
}

.input{
    display: flex;
}

input{
    width: 450px;
    height: 40px ;
}

#search-icon{
    width: 20px;
    height: 20px;
    color: white;
    padding: 9px;
    margin-top: 1px;
    margin-left: -39px;
    cursor: pointer;
    background-color: rgb(222, 204, 70);
}

.cart{
    display: flex;
    padding: 0px 50px 0px 100px;
    gap: 25px;
    width: 30;
    width: 30;
}

.cart img{
    cursor: pointer;
    color-scheme: white;
}

/* Home */

.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0;
    justify-content: space-evenly;
}

.categories{
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
}

.categories h2{
    background-color: rgba(71, 71, 186, 0.804);
    color: white;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.categories li{
    list-style-type: none;
    padding: 8px 0;
    padding-left: 20px;
}

.categories a{
    text-decoration: none;
    color: black;
}

.background-image{
    background-image: url(/assets/background-image.webp);
    color: #5A60C2;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.background-image h2{
    text-align: center;
    font-size: 32px;
}

.background-image img{
    width: 400px;
}

/* Smart Phone Section */

#mob-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% ;
    justify-content: space-around;
}

.mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fafafa;
    border: 1px solid gainsboro;
    text-align: center;
    margin: 10px 0;
}

.mobiles div img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 10px;
    background-color: transparent;
}

.mobiles span p{
    padding: 3px;
    font-size: small;
}

.mobiles span p:first-child{
    font-weight: bold;
}

/* Laptop Section */

#laptop-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.laptops{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-around;
}

.laptops div{
    background-color: #c8e6f6;
    border: 1px solid #c8e6f6;
    text-align: center;
}

.laptops div img{
    height: 160px;
    width: 180px;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 5px;
    background-color: transparent;
}

.notify{
    background-color: #79939F;
    color:#5A60C2;
    font-weight: bold;
    width: 90px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    box-shadow: rgb(0, 0, 0.35) 0px 4px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.notify p{
    padding-top: 10px;
    font-size: small;
}

.laptops h4{
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Smart Watches */

#watches-heading{
    margin-top: 80px;
    margin-left: 10px;
    padding: 10px 20px;
}

.smart-watches{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}

.smart-watches div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #91b5d3;
    width: 400px;
    height: 200px;
    margin-bottom: 40px;
    padding: 10px 50px;
    box-shadow: rgb(0, 0, 0.35) 0px 4px 10px;
}

.smart-watches div img{
    width: 200px;
    height: 190px;
    /* margin: 0 auto; */
}

.smart-watches div p{
    font-weight: bold;
    font-size: 18px;
    color: #5A60C2;
}
/* Small Scree */

@media(max-width: 1000px) {

    /* Navigation Bar */

    nav{
        height: 80px;
    }

    #logo{
        width: 90px;
        height: 90px; 
    }

    input{
        width: 250px;
        height: 30px;
    }

    #search-icon{
        margin-left: -20px;
        padding: 7px;
    }

    .cart{
        padding: 0 20px;
        width: 20px;
        height: 20px;
    }

    .cart img{
        padding-left: 7px;
    }

    /* Home */

    .background-image h2{
        font-size: 23px;
    }

    .background-image img{
        width: 50%;
    }

    /* Smart Phone Section */

    .mobiles{
        grid-template-columns: 30% 30% 30%;
    }

    .mobiles div{
        /* margin: 30px 0; */
        height: 90%;
        margin-bottom: 10px;
        border: 1px solid #a9c7e0;

    }

    .mobiles div img{
        height: 80%;
        width: 90%;
    }
    
    .mobiles span p{
        font-size: medium;
    }

    /* Laptop Section */

    .laptops{
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }

    .laptops div{
        margin-bottom: 10px;
    }

    .laptops div img{
        height: 170px;
        width: 180px;
        border-radius: 5px;
        margin: 10px;
        margin-bottom: 5px;
        background-color: transparent;
    }
}

/* Size for Mobile */

@media(max-width: 400px) {
    nav{
        height: 60px;
    }

    #logo{
        width: 60px;
        height: 50px;
    }

    input{
        width: 170px;
        height: 25px;
        /* margin-top: 6px; */
    }

    #search-icon{
        background-color: transparent;
        color: black;
        padding-top: 2px;
        margin-left: auto -28px;
    }

    .cart{
        padding: 8px 15px 0 18px;
        width: 15px;
        height: 15px;
    }

    /* Home */

    .home{
        margin: 20px 0;
    }

    .categories{
        padding: 5px;
        height: 70px;
    }

    .categories h2{
        font-size: 7px;
        padding: 2px;
        margin-top: 2px;
        margin-bottom: 6px;
    }

    .categories li{
        padding: 2px 0;
        font-size: 1vh;
    }

    .background-image{
        background-size: cover;
    }

    .background-image h2{
        font-size: 12px;
    }

    .background-image img{
        width: 40%;
    }

    /* Smart Phone Section */

    #mob-heading{
        margin-top: 30px;
        margin-bottom: 0;
        padding: 0 20px;
        font-size: 2.5vh;
    }

    .mobiles{
        grid-template-columns: 45% 45%;
        justify-content: space-around;
    }

    /* Laptop Section */

    #laptop-heading{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 20px 20px;
        font-size: 2.5vh;
    }

    .laptops{
        display: grid;
        grid-template-columns: 80%;
        justify-content: space-around;
    }

    .laptops .notify{
        width: 80px;
        height: 20px;
    }

    .laptops .notify p{
        padding-top: 3px;
        font-size: 2vh;
    }

    .laptops h4{
        font-size: 2vh;
        padding-top: 3px;
        padding-bottom: 10px;
    }
}